extends default

block content
    div.m-3
        div.container
            div(style="margin-top:0px;" class="jumbotron")
                h3(class='text-center')= 'Thank you! Your appointment has been scheduled for ' + date + '.'