extends default

block scripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    

block content
    div.m-3
        div.container
            if errorList
                each error in errorList
                    div(class="alert alert-warning alert-dismissible fade show" role="alert")= error.msg
                        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                            span(aria-hidden="true") &times;
            div(style="margin-top:0px;" class="jumbotron")
                //- h2 Marto's Mobile Car Wash
                form(action="/" method="POST" id='app-form')
                    //- Section 1 Vehicle Details
                    //- div.form-group
                    section
                        label(for="vehicle-type") Vehicle Type
                        select(required id="vehicle-type" name="vehicle-type" class="form-control") 
                            option(value="none" selected disabled hidden) Select one
                            option Sedan
                            option Convertable
                            option Minivan
                            option SUV
                            option Truck
                            option Van
                        div.m-2
                        label(for="vehicle-model") Vehicle Model
                        input(required type="text" id="vehicle-model" name="vehicle-model" class="form-control")
                        hr
                    //- Section 2 Desired Services
                    section
                        div.row
                            div.col-md-6
                                label(for="exterior-service") Exterior Service
                                select(required id="exterior-service" name="exterior-service" class="form-control") 
                                    option(value="undef" selected disabled hidden) Select one
                                    option(value="none") None
                                    option(value="exterior-wash") Exterior Wash
                                    option(value="exterior-detail") Exterior Detailing
                                div.m-2
                            div.col-md-6
                                label(for="interior-service") Interior Service
                                select(required id="interior-service" name="interior-service" class="form-control") 
                                    option(value="undef" selected disabled hidden) Select one
                                    option(value="none") None
                                    option(value="interior-clean") Interior Cleaning
                                    option(value="interior-detail") Interior Detailing
                        hr
                    //- Section 3 Location and Time
                    //- div.form-group
                    section
                        //- div.row
                        //-     div.col-md-3
                                
                        //-     div.col-md-3
                                
                        //-     div.col-md-3
                        //-         h5 &#8203;
                        div.row
                            div.col-md-3
                                //- h5 Appointment Date
                                //- div.m-2
                                label(for="app-date") Appointment Date
                                input(required type="date" id="app-date" name="app-date" min="2020-07-07" class="form-control")
                                //- script(src="date-picker.js")
                                div.m-2
                            div.col-md-3
                                //- h5 Appointment Time 
                                label(for="app-hour") Appointment Hour
                                select(required id="app-hour" name="app-hour" class="form-control")
                                    option(value="none" selected disabled hidden) Select an option
                                    option 10am
                                    option 11am
                                    option 12am
                                    option 01pm
                                    option 02pm
                                    option 03pm
                                    option 04pm
                                    option 05pm
                                div.m-2
                            div.col-md-3
                                //- h5 &#8203;
                                label(for="app-min") Appointment Minute
                                select(required id="app-min" name="app-min" class="form-control")
                                    option(value="none" selected disabled hidden) Select an option
                                    option :00
                                    option :30
                        div.m-2
                        hr
                    //- div.form-group
                    section
                        div.row
                            div.col-md-6
                                label(for='client-name') Name
                                input(required type="text" id="client-name" name="client-name" class="form-control")
                                div.m-3
                            div.col-md-6
                                label(for='client-email') Email Address
                                input(required type="email" id="client-email" name="client-email" class="form-control")
                        div.m-3
                        div.row
                            div.col-md-6
                                label(for='client-address') Address
                                input(required type="text" id="app-address" name="client-address" class="form-control")
                                div.m-3
                            div.col-md-3
                                label(for='client-city') City
                                input(required type="text" id="app-city" name="client-city" class="form-control")
                                div.m-3
                            div.col-md-3
                                label(for='client-state') State
                                input(required type="text" id="app-state" name="app-state" class="form-control")
                                div.m-3
                        div.row
                            div.col-md-3
                                label(for='client-contact') Phone Number
                                input(required type="text" id="app-phone" name="app-phone" class="form-control")
                                div.m-3
                            div.col-md-9
                                label(for='special-instructions') Special Instructions
                                input(type="text" id="special-instructions" name="special-instructions" class="form-control")
                        hr
                    //- Section 4 Subtotal and Confirmation
                    section
                        div.row
                            div.col-md-2
                                button(id="calculate-button" class="btn btn-primary") Calculate
                                //- onclick="calculateButtonPressed()"
                                //- Calculate button because no variable on change event
                            
                            div.col-md-10
                                div.m-1
                                h5#datetime-display Please press the Calculate button
                                //- h4 &#8203;
                        div.row
                        hr
                    section
                        div.m-3
                        button(id="main-form-submit" type="submit" class="btn btn-primary" disabled) Submit

                    //- div.container
    
    script(defer src="evaluate-appointment.js")     