extends default

block scripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    scripts(src="tester.js")

block content
    div.container
        form
            input(class="target" type="test" value="Box 1")
        div(id="other") Trigger handler
